<div class="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Sidebar component on the left -->

  <div class="main-panel">
    <!-- Main content section -->
    <div class="container">
      <div class="page-inner">
        <div
          class="page-header d-flex justify-content-between align-items-center flex-row-reverse"
        >
          <h3 class="fw-bold mb-3 text-end">ادارة الموظفين</h3>
          <ul class="breadcrumbs mb-3">

            <li class="nav-item dropdown">
              <button class="btn d-flex justify-content-start align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                  <!-- Placeholder for the dropdown arrow -->
                  <i class="fa-solid fa-caret-down"></i>
              </button>
              
          </li>

            <li class="nav-home">
              <a href="#">
                <i class="fa-solid fa-search"></i>
              </a>
            </li>
            <li class="separator">
              <!-- <i class="icon-arrow-right"></i> -->
            </li>
            <li class="nav-item">
              <a href="#">
                <i class="fa-solid fa-bell"></i>
              </a>
            </li>
            <li class="separator">
              <!-- <i class="icon-arrow-right"></i> -->
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-gear"></i>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div
                class="card-header d-flex justify-content-between align-items-center flex-row-reverse"
              >
                <h4 class="card-title text-end">الموظفين</h4>
                <div class="button-group d-flex justify-content-start">
                  <button
                    type="button"
                    class="btn my-button"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                  >
                    اضافه موظف
                    <i class="fa-solid fa-plus"></i>
                  </button>
                  <button type="button" class="btn ms-3 my-button2">
                    <i class="fa-solid fa-print"></i>
                    طباعه
                  </button>
                  <div class="dropdown" [class.show]="isDropdownOpen">
                    <button type="button" class="btn ms-3 my-button2" (click)="toggleDropdown()">
                      <i class="fa-solid fa-gear"></i> الاجراءات
                    </button>
                    
                    <div class="dropdown-menu" [class.show]="isDropdownOpen">
                      <a class="dropdown-item" (click)="openModalForSelected()">تعديل</a>
                      <!-- <a class="dropdown-item" href="#">عرض</a> -->
                      <a class="dropdown-item" (click)="deleteItemType()">حذف</a>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="d-flex flex-row align-items-center mt-3 d-flex justify-content-between align-items-center flex-row-reverse"
              >
                <div class="mb-2 me-2" style="width: 100px">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>الاحدث</option>
                    <option value="1">خيار 1</option>
                    <option value="2">خيار 2</option>
                    <option value="3">خيار 3</option>
                  </select>
                </div>

                <div class="d-flex align-items-center flex-row-reverse">
                  <!-- Button with icon -->
                  <button class="btn my-custom-icone me-2">
                    <span class="btn-label">
                      <i class="fa-solid fa-sliders"></i>
                    </span>
                  </button>
                
                  <!-- Search form -->
                  <form class="d-flex position-relative">
                    <input
                      class="form-control text-end search-input"
                      type="search"
                      placeholder="بحث في الكل"
                      aria-label="Search"
                    />
                    <i class="fs-4 bi-search position-absolute search-icon"></i>
                  </form>
                </div>

                
                <div class="icon-group d-flex align-items-center">
                  <button class="btn my-custom-icone">
                    <span class="btn-label">
                      <i class="fa-solid fa-table-cells-large"></i>
                    </span>
                  </button>

                  <button
                    class="btn my-custom-icone"
                    style="background-color: #224273; color: #e7e7ea"
                  >
                    <span class="btn-label">
                      <i class="fa-solid fa-list-ul"></i>
                    </span>
                  </button>

                  <button class="btn my-custom-icone">
                    <span class="btn-label">
                      <i class="fa-solid fa-bag-shopping my-icone"></i>
                    </span>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="basic-datatables"
                    class="display table table-striped table-hover">
                    <thead>
                      <tr class="firstcol">
                        <th class="firstcolleft">مدير القسم</th>
                        <th>مشرف القسم</th>
                        <th>المهنة</th>
                        <th>اسم الموظف باللغه المحلية</th>
                        <th>اسم الموظف بالعربي</th>
                        <th>مسلسل</th>
                        <th class="firstcolright">
                          <input type="checkbox" class="large-checkbox" />
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of employees, let i =index ">
                        <td>{{item.departmentManager}}</td>
                        <td>{{item.departmentSupervisor}}</td>
                        <td>{{item.jobTitle}}</td>
                        <td>{{item.localName}}</td>
                        <td>{{item.name}}</td>
                        <td>{{i+1}}</td>
                        <td class="firstcolright">
                          <input type="checkbox" (change)="onCheckboxChange(item)" class="large-checkbox" />
                        </td>
                      </tr>
                   
                    </tbody>
                  </table>

                      <!-- paging -->
                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                          <!-- Previous Button -->
                          <li class="page-item" [class.disabled]="pageNumber === 1">
                            <a class="page-link" href="#" (click)="changePage(pageNumber - 1)" tabindex="-1" [attr.aria-disabled]="pageNumber === 1 ? true : null">&laquo;</a>
                          </li>
                      
                          <!-- Page Numbers -->
                          <li class="page-item" [class.active]="pageNumber === 1">
                            <a class="page-link" (click)="changePage(1)">1</a>
                          </li>
                          <li class="page-item" [class.active]="pageNumber === 2">
                            <a class="page-link" (click)="changePage(2)">2</a>
                          </li>
                          <li class="page-item" [class.active]="pageNumber === 3">
                            <a class="page-link" (click)="changePage(3)">3</a>
                          </li>
                          <li class="page-item" [class.active]="pageNumber === 4">
                            <a class="page-link" (click)="changePage(4)">4</a>
                          </li>
                          <li class="page-item" [class.active]="pageNumber === 5">
                            <a class="page-link" (click)="changePage(5)">5</a>
                          </li>
                      
                          <!-- Ellipsis for more pages (can be enhanced later for large page sets) -->
                          <li class="page-item"><a class="page-link">...</a></li>
                      
                          <!-- Next Button -->
                          <li class="page-item">
                            <a class="page-link" (click)="changePage(pageNumber + 1)">&raquo;</a>
                          </li>
                        </ul>
                      </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title text-end flex-row-reverse"
          id="staticBackdropLabel"
        >
          اضف موظف
        </h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="container">
            <!-- Row with two fields -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field1 text-end"> اسم الموظف</label>
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control custom-input"
                    placeholder="اسم الموظف"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field2 text-end"
                    >اسم الموظف باللغه المحليه
                  </label>
                  <input
                    type="text"
                    id="localName"
                    formControlName="localName"
                    class="form-control custom-input"
                    placeholder="Employee"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="field1 text-end"> المهنه / الوظيفه </label>
                  <input
                    type="text"
                    id="jobTitle"
                    formControlName="jobTitle"
                    class="form-control custom-input"
                    placeholder=" قم بكتابه المهنه / الوظيفه"
                  />
                </div>
              </div>
            </div>

            <!-- Row with three fields -->
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="location" class="form-label">مشرف القسم</label>
                  <div class="input-group" >
                      <select class="form-select form-control" formControlName="departmentSupervisorId" >
                          <option value="" disabled selected>قم باختيار مشرف القسم</option>
                          <option *ngFor="let item of supervisors" [value]="item.id"
                          >{{ item.userName }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="form-label">مدير القسم</label>
                  <div class="input-group" >
                      <select class="form-select form-control" formControlName="departmentManagerId" >
                          <option value="" disabled selected>قم باختيار مدير القسم</option>
                          <option *ngFor="let item of managers" [value]="item.id"
                          >{{ item.userName }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">القسم</label>
                  <div class="input-group" >
                      <select class="form-select form-control" formControlName="departmentId" >
                          <option value="" disabled selected>قم باختيار القسم</option>
                          <option *ngFor="let item of departments" [value]="item.id"
                          >{{ item.name }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field1 text-end"> تاريخ البدء</label>
                  <input
                    type="date"
                    id="startDate"
                    formControlName="startDate"
                    class="form-control custom-input"
                    placeholder="قم باختيار التاريخ"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field2 text-end"
                    >تاريح الانتهاء
                  </label>
                  <input
                    type="date"
                    id="endDate"
                    formControlName="endDate"
                    class="form-control custom-input"
                    placeholder="قم باختيار التاريخ"
                  />
                </div>
              </div>
            </div>

            <div class="scroll-buttons-container">
              <button
                *ngFor="let btn of buttons; let i = index"
                [id]="'button-' + i"
                class="scroll-button"
                type="button"
                (click)="showContent(i)"
              >
                {{ btn }}
              </button>
            </div>

            <!-- show personal information  -->

            <div *ngIf="selectedButton !== null">
              <div *ngIf="selectedButton === 0">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field1 text-end"> رقم الجواز</label>
                      <input
                        type="text"
                        id="field1"

                        class="form-control custom-input"
                        placeholder=" قم بكتابه رقم الجواز"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field2 text-end">تاريخ انتهاء الجواز</label>
                      <input
                      type="date"
                      id="field2"

                      class="form-control custom-input"
                      placeholder="قم باختيار التاريخ"
                    />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field1 text-end"> رقم رخصه السواقه</label>
                      <input
                        type="text"
                        id="field1"

                        class="form-control custom-input"
                        placeholder=" قم بكتابه رقم رخصه السواقه"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field2 text-end">
                        تاريخ انتهاء رخصه السواقه</label
                      >
                      <input
                      type="date"
                      id="field2"

                      class="form-control custom-input"
                      placeholder="قم باختيار التاريخ"
                    />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field1 text-end"> الجنسيه</label>
                      <input
                        type="text"
                        id="field1"
                        
                        class="form-control custom-input"
                        placeholder=" قم باختيار الجنسيه"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field2 text-end">النوع</label>
                      <input
                        type="text"
                        id="field2"
                        class="form-control custom-input"
                        placeholder="ذكر ام انثي"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field1 text-end"> رقم الحدود</label>
                      <input
                        type="text"
                        id="field1"
                        class="form-control custom-input"
                        placeholder=" قم بكتابه رقم الحدود"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field2 text-end"> موقع سكن الموظف </label>
                      <input
                        type="text"
                        id="field2"
                        class="form-control custom-input"
                        placeholder="قم بكتابه موقع سكن الموظف"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- show  Notifications -->

            <div *ngIf="selectedButton !== null">
              <div *ngIf="selectedButton === 4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">

                      <table
                      id="basic-datatables"
                      class="display table table-striped table-hover"
                    >
                      <thead>
                        <tr class="firstcol">

                          
                          <th class="firstcolright">
                            اسم الاشعار
                          </th>

                          <th> تاريخ الاشعار</th>
                          <th class="firstcolleft">حاله الاشعار </th>

                        
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Fiona Green</td>
                          <td>Chief Operating Officer (COO)</td>
                          <td>San Francisco</td>
                       
                        </tr>
                        <tr>
                          <td>Shou Itou</td>
                          <td>Regional Marketing</td>
                          <td>Tokyo</td>
                          
                        </tr>
                      </tbody>
                    </table>


                    </div>
                  </div>
            
                </div>

              

              

                
              </div>
            </div>


            <!-- show sales  -->

            <div *ngIf="selectedButton !== null">
              <div *ngIf="selectedButton === 5">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">

                      <h5>ملخص التحصيل</h5>
                      <table
                      id="basic-datatables"
                      class="display table table-striped table-hover"
                    >
                      <thead>
                        <tr class="firstcol">

                          
                          <th class="firstcolright">
                            رقم التحصيل
                          </th>

                          <th> تاريخ التحصيل</th>
                          <th class="firstcolleft">قيمه التحصيل </th>

                        
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Fiona Green</td>
                          <td>Chief Operating Officer (COO)</td>
                          <td>San Francisco</td>
                       
                        </tr>
                        <tr>
                          <td>Shou Itou</td>
                          <td>Regional Marketing</td>
                          <td>Tokyo</td>
                          
                        </tr>
                      </tbody>
                    </table>



                    <h5>ملخص طلبات البيع</h5>


                    <table
                    id="basic-datatables"
                    class="display table table-striped table-hover"
                  >
                    <thead>
                      <tr class="firstcol">

                        
                        <th class="firstcolright">
                          رقم طلب البيع
                        </th>

                        <th> تاريخ طلب البيع</th>
                        <th class="firstcolleft">قيمه طلب البيع </th>

                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td>San Francisco</td>
                     
                      </tr>
                      <tr>
                        <td>Shou Itou</td>
                        <td>Regional Marketing</td>
                        <td>Tokyo</td>
                        
                      </tr>
                    </tbody>
                  </table>


                  <h5>ملخص فواتير البيع</h5>


                  <table
                  id="basic-datatables"
                  class="display table table-striped table-hover"
                >
                  <thead>
                    <tr class="firstcol">

                      
                      <th class="firstcolright">
                         فاتورة البيع
                      </th>

                      <th> تاريخ فاتورة البيع</th>
                      <th class="firstcolleft">قيمه فاتورة البيع </th>

                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fiona Green</td>
                      <td>Chief Operating Officer (COO)</td>
                      <td>San Francisco</td>
                   
                    </tr>
                    <tr>
                      <td>Shou Itou</td>
                      <td>Regional Marketing</td>
                      <td>Tokyo</td>
                      
                    </tr>
                  </tbody>
                </table>



                    </div>
                  </div>
            
                </div>

              

              

                
              </div>
            </div>


            <!-- show bank account -->
            


            <div *ngIf="selectedButton !== null">
              <div *ngIf="selectedButton === 9">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="field1 text-end">  الحساب البنكي</label>
                      <input
                        type="text"
                        id="field1"
                        class="form-control custom-input"
                        placeholder=" قم بكتابه الحساب البنكي"
                      />
                    </div>
                  </div>
                 
                </div>

                

             
              
              </div>
            </div>





        
            <div class="col-md-6 mx-auto ">
              <button type="submit" class="btn my-button3">
                اضافه
                <i class="fa-solid fa-plus"></i>
              </button>
              <button type="button" class="btn closebutton " data-bs-dismiss="modal">
                الغاء
              </button></div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Update -->
<div
class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" style="display: block;" *ngIf="isModalOpen"

>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5
        class="modal-title text-end flex-row-reverse"
        id="staticBackdropLabel"
      >
        تعديل موظف
      </h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="employeeForm" (ngSubmit)="updateCategory()">
        <div class="container">
          <!-- Row with two fields -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field1 text-end"> اسم الموظف</label>
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  class="form-control custom-input"
                  placeholder="اسم الموظف"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field2 text-end"
                  >اسم الموظف باللغه المحليه
                </label>
                <input
                  type="text"
                  id="localName"
                  formControlName="localName"
                  class="form-control custom-input"
                  placeholder="Employee"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="field1 text-end"> المهنه / الوظيفه </label>
                <input
                  type="text"
                  id="jobTitle"
                  formControlName="jobTitle"
                  class="form-control custom-input"
                  placeholder=" قم بكتابه المهنه / الوظيفه"
                />
              </div>
            </div>
          </div>

          <!-- Row with three fields -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="location" class="form-label">مشرف القسم</label>
                <div class="input-group" >
                    <select class="form-select form-control" formControlName="departmentSupervisorId" >
                        <option value="" disabled selected>قم باختيار مشرف القسم</option>
                        <option *ngFor="let item of supervisors" [value]="item.id"
                        >{{ item.userName }}</option>
                       
                    </select>
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label  class="form-label">مدير القسم</label>
                <div class="input-group" >
                    <select class="form-select form-control" formControlName="departmentManagerId" >
                        <option value="" disabled selected>قم باختيار مدير القسم</option>
                        <option *ngFor="let item of managers" [value]="item.id"
                        >{{ item.userName }}</option>
                       
                    </select>
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label">القسم</label>
                <div class="input-group" >
                    <select class="form-select form-control" formControlName="departmentId" >
                        <option value="" disabled selected>قم باختيار القسم</option>
                        <option *ngFor="let item of departments" [value]="item.id"
                        >{{ item.name }}</option>
                       
                    </select>
                </div>
            </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field1 text-end"> تاريخ البدء</label>
                <input
                  type="date"
                  id="startDate"
                  formControlName="startDate"
                  class="form-control custom-input"
                  placeholder="قم باختيار التاريخ"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field2 text-end"
                  >تاريح الانتهاء
                </label>
                <input
                  type="date"
                  id="endDate"
                  formControlName="endDate"
                  class="form-control custom-input"
                  placeholder="قم باختيار التاريخ"
                />
              </div>
            </div>
          </div>

          <div class="scroll-buttons-container">
            <button
              *ngFor="let btn of buttons; let i = index"
              [id]="'button-' + i"
              class="scroll-button"
              type="button"
              (click)="showContent(i)"
            >
              {{ btn }}
            </button>
          </div>

          <!-- show personal information  -->

          <div *ngIf="selectedButton !== null">
            <div *ngIf="selectedButton === 0">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field1 text-end"> رقم الجواز</label>
                    <input
                      type="text"
                      id="field1"

                      class="form-control custom-input"
                      placeholder=" قم بكتابه رقم الجواز"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field2 text-end">تاريخ انتهاء الجواز</label>
                    <input
                    type="date"
                    id="field2"

                    class="form-control custom-input"
                    placeholder="قم باختيار التاريخ"
                  />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field1 text-end"> رقم رخصه السواقه</label>
                    <input
                      type="text"
                      id="field1"

                      class="form-control custom-input"
                      placeholder=" قم بكتابه رقم رخصه السواقه"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field2 text-end">
                      تاريخ انتهاء رخصه السواقه</label
                    >
                    <input
                    type="date"
                    id="field2"

                    class="form-control custom-input"
                    placeholder="قم باختيار التاريخ"
                  />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field1 text-end"> الجنسيه</label>
                    <input
                      type="text"
                      id="field1"
                      
                      class="form-control custom-input"
                      placeholder=" قم باختيار الجنسيه"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field2 text-end">النوع</label>
                    <input
                      type="text"
                      id="field2"
                      class="form-control custom-input"
                      placeholder="ذكر ام انثي"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field1 text-end"> رقم الحدود</label>
                    <input
                      type="text"
                      id="field1"
                      class="form-control custom-input"
                      placeholder=" قم بكتابه رقم الحدود"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field2 text-end"> موقع سكن الموظف </label>
                    <input
                      type="text"
                      id="field2"
                      class="form-control custom-input"
                      placeholder="قم بكتابه موقع سكن الموظف"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- show  Notifications -->

          <div *ngIf="selectedButton !== null">
            <div *ngIf="selectedButton === 4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">

                    <table
                    id="basic-datatables"
                    class="display table table-striped table-hover"
                  >
                    <thead>
                      <tr class="firstcol">

                        
                        <th class="firstcolright">
                          اسم الاشعار
                        </th>

                        <th> تاريخ الاشعار</th>
                        <th class="firstcolleft">حاله الاشعار </th>

                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td>San Francisco</td>
                     
                      </tr>
                      <tr>
                        <td>Shou Itou</td>
                        <td>Regional Marketing</td>
                        <td>Tokyo</td>
                        
                      </tr>
                    </tbody>
                  </table>


                  </div>
                </div>
          
              </div>

            

            

              
            </div>
          </div>


          <!-- show sales  -->

          <div *ngIf="selectedButton !== null">
            <div *ngIf="selectedButton === 5">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">

                    <h5>ملخص التحصيل</h5>
                    <table
                    id="basic-datatables"
                    class="display table table-striped table-hover"
                  >
                    <thead>
                      <tr class="firstcol">

                        
                        <th class="firstcolright">
                          رقم التحصيل
                        </th>

                        <th> تاريخ التحصيل</th>
                        <th class="firstcolleft">قيمه التحصيل </th>

                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td>San Francisco</td>
                     
                      </tr>
                      <tr>
                        <td>Shou Itou</td>
                        <td>Regional Marketing</td>
                        <td>Tokyo</td>
                        
                      </tr>
                    </tbody>
                  </table>



                  <h5>ملخص طلبات البيع</h5>


                  <table
                  id="basic-datatables"
                  class="display table table-striped table-hover"
                >
                  <thead>
                    <tr class="firstcol">

                      
                      <th class="firstcolright">
                        رقم طلب البيع
                      </th>

                      <th> تاريخ طلب البيع</th>
                      <th class="firstcolleft">قيمه طلب البيع </th>

                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fiona Green</td>
                      <td>Chief Operating Officer (COO)</td>
                      <td>San Francisco</td>
                   
                    </tr>
                    <tr>
                      <td>Shou Itou</td>
                      <td>Regional Marketing</td>
                      <td>Tokyo</td>
                      
                    </tr>
                  </tbody>
                </table>


                <h5>ملخص فواتير البيع</h5>


                <table
                id="basic-datatables"
                class="display table table-striped table-hover"
              >
                <thead>
                  <tr class="firstcol">

                    
                    <th class="firstcolright">
                       فاتورة البيع
                    </th>

                    <th> تاريخ فاتورة البيع</th>
                    <th class="firstcolleft">قيمه فاتورة البيع </th>

                  
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                 
                  </tr>
                  <tr>
                    <td>Shou Itou</td>
                    <td>Regional Marketing</td>
                    <td>Tokyo</td>
                    
                  </tr>
                </tbody>
              </table>



                  </div>
                </div>
          
              </div>

            

            

              
            </div>
          </div>


          <!-- show bank account -->
          


          <div *ngIf="selectedButton !== null">
            <div *ngIf="selectedButton === 9">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="field1 text-end">  الحساب البنكي</label>
                    <input
                      type="text"
                      id="field1"
                      class="form-control custom-input"
                      placeholder=" قم بكتابه الحساب البنكي"
                    />
                  </div>
                </div>
               
              </div>

              

           
            
            </div>
          </div>





      
          <div class="col-md-6 mx-auto ">
            <button type="submit" class="btn my-button3">
              اضافه
              <i class="fa-solid fa-plus"></i>
            </button>
            <button type="button" class="btn closebutton " data-bs-dismiss="modal">
              الغاء
            </button></div>
        
        </div>
      </form>
    </div>
  </div>
</div>
</div>