<div class="container login-container">
    <div class="row">
        <!-- Centered 8-column container -->
        <div class="col-md-8 mx-auto">
            <div class="row">
                <!-- First Form taking 6 columns -->
                <div class="col-md-6 login-form-1">
                    <div class="shade">
                 
                        <img style="width: 201px;" class="blog" src="../../../assets/images/women with tab 1.png">
                        
                    </div>
                </div>
                <!-- Second Form taking 6 columns -->
                <div class="col-md-6 login-form-2">
                    
                    <div class="col-md-12 mx-auto shad2">
                        <div>
                            <img class="blog-2" src="../../../assets/images/Image (1).png">
                            <div class="shade-roll">
                                <button class="ml-0 bttn">
                                    الموظف
                                </button>
                                <button class="ml-1 bttn">
                                    المدير
                                </button>
                            </div>
                            <h2>تسجيل الدخول</h2>
                            <p class="blog-3">قم بتسجيل الدخول للموقع</p>
                            <div class="blog-4"> 
                                <label class="blog-4">اسم المساحه</label>
                                <input class="blog-4 input-1" placeholder="قم بكتابة اسم المساحه" type="text">
                            </div>
                            <div class="blog-4">
                                <label class="blog-4">البريد الالكتروني</label>
                                <input class="blog-4 input-1" placeholder="قم بكتابة البريد الالكتروني" type="email">
                            </div>
                            <div class="blog-4">
                                <label class="blog-4">كلمة السر</label>
                                <input class="blog-4 input-1" placeholder="قم بكتابة كلمة السر" type="password">
                            </div>
                            <p class="blog-3"><a href="#">هل نسيت كلمة المرور؟</a></p>

                            <div class="fs-6">
                                <button class="btn btn-primary mt-2">تسجيل الدخول</button>
                            </div>
                            <p class="blog-3">ليس لديك حساب؟ <a href="#" style="color: #224273;">اشترك الان</a></p>

                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    </div>
</div>
