<app-sidebar></app-sidebar>

<div class="main-panel">
  <div class="container">
    <div class="page-inner">
      <div class="page-header d-flex justify-content-between align-items-center flex-row-reverse">
        <h3 class="fw-bold mb-3 text-end">المبيعات</h3>
        <ul class="breadcrumbs mb-3 ">
          <li class="nav-item dropdown">
            <button class="btn d-flex justify-content-start align-items-center" data-bs-toggle="dropdown"
              aria-expanded="false">
              Admin
              <!-- Placeholder for the dropdown arrow -->
              <i class="fa-solid fa-caret-down"></i>
            </button>

          </li>

          <li class="nav-home">
            <a href="#">
              <i class="fa-solid fa-search mx-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#">
              <i class="fa-solid fa-bell mx-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-gear mx-2"></i>
          </li>

        </ul>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center flex-row-reverse">
              <h4 class="card-title text-end">عروض و طلبات البيع</h4>
              <div class="button-group d-flex justify-content-start">
                <button type="button" class="btn my-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  اضافه عرض بيع
                  <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn ms-3 my-button">
                  <i class="fa-solid fa-print"></i>
                  طباعه
                </button>
                <button type="button" class="btn ms-3 my-button">
                  <i class="fa-solid fa-gear"></i>
                  الاجراءات
                </button>
              </div>
            </div>



            <div
              class="d-flex flex-row align-items-center mt-3 d-flex justify-content-between align-items-center flex-row-reverse">
              <div class="mb-2 me-2" style="width: 100px">
                <select class="form-select" aria-label="Default select example">
                  <option selected>الاحدث</option>
                  <option value="1">خيار 1</option>
                  <option value="2">خيار 2</option>
                  <option value="3">خيار 3</option>
                </select>
              </div>

              <div class="d-flex align-items-center flex-row-reverse">
                <!-- Button with icon -->
                <button class="btn my-custom-icone me-2">
                  <span class="btn-label">
                    <i class="fa-solid fa-sliders"></i>
                  </span>
                </button>

                <!-- Search form -->
                <form class="d-flex position-relative">
                  <input class="form-control text-end search-input" type="search" placeholder="بحث في الكل"
                    aria-label="Search" />
                  <i class="fs-4 bi-search position-absolute search-icon"></i>
                </form>
              </div>


              <div class="icon-group d-flex align-items-center">
                <button class="btn my-custom-icone">
                  <span class="btn-label">
                    <i class="fa-solid fa-table-cells-large"></i>
                  </span>
                </button>

                <button class="btn my-custom-icone" style="background-color: #224273; color: #e7e7ea">
                  <span class="btn-label">
                    <i class="fa-solid fa-list-ul"></i>
                  </span>
                </button>

                <button class="btn my-custom-icone">
                  <span class="btn-label">
                    <i class="fa-solid fa-bag-shopping my-icone"></i>
                  </span>
                </button>
              </div>
            </div>


            <div class="card-body">
              <div class="table-responsive">
                <table id="basic-datatables" class="display table table-striped table-hover">
                  <thead>
                    <tr class="firstcol">
                      <th class="firstcolleft">مدير القسم</th>
                      <th>المندوب</th>
                      <th>العميل</th>
                      <th>تاريخ الانشاء</th>
                      <th>المنشأ</th>
                      <th>مسلسل</th>
                      <th class="firstcolright">
                        <input type="checkbox" class="large-checkbox" />
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of salesOffers; let i =index">
                      <td>{{representatives[item.id]?.userName}}</td>
                      <td>{{clients[item.clientId]?.name}}</td>
                      <td>{{teams[item.id]?.name}}</td>
                      <td>{{warehouses[item.id]?.name}}</td>
                      <td>{{item.code}}</td>
                      <td>{{i + 1}}</td>
                      <td> <input type="checkbox" class="large-checkbox" />
                      </td>
                    </tr>
                 
                  </tbody>
                </table>

                
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-end flex-row-reverse" id="staticBackdropLabel">
          اضافه عرض بيع
        </h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="saleOfferForm" (ngSubmit)="onSubmit()">
          <div class="container">
            <!-- Row with two fields -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field1 text-end"> المنشأ</label>
                  <input type="text" disabled class="form-control" placeholder="اسم المنشأ" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field2 text-end">تاريخ الانشاء
                  </label>
                  <input type="date" disabled class="form-control" placeholder="قم باختيار التاريخ" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field4 text-end"> رقم الطلب</label>
                  <input type="text" id="code" formControlName="code" class="form-control" placeholder="رقم الطلب" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="form-label">العميل</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="clientId" >
                          <option value="" disabled selected>قم باختيار العميل</option>
                          <option *ngFor="let item of clients" [value]="item.id"
                          >{{ item.name }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="form-label">المندوب</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="representativeId" >
                          <option value="" disabled selected>قم باختيار المندوب</option>
                          <option *ngFor="let item of representatives" [value]="item.id"
                          >{{ item.userName }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="form-label">فريق البيع</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="teamId" >
                          <option value="" disabled selected>قم باختيار فريق البيع</option>
                          <option *ngFor="let item of teams" [value]="item.id"
                          >{{ item.name }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field7 text-end">رقم طلب شراء العميل
                  </label>
                  <input type="text" id="purchaseOrderNumber" class="form-control" formControlName="purchaseOrderNumber" placeholder="رقم طلب شراء العميل" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field8 text-end"> حالة الطلب</label>
                  <input type="text" disabled  class="form-control" placeholder="قم باختيار حالة الطلب" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="form-label">مركز التكلفة</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="costCenterId" >
                          <option value="" disabled selected>قم باختيار مركز التكلفة</option>
                          <option *ngFor="let item of costCenters" [value]="item.id"
                          >{{ item.name }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="form-label">مراحل الطلب</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="requestStage" >
                          <option value="" disabled selected>قم باختيار مراحل الطلب</option>
                          <option *ngFor="let type of requestStageList" [value]="type.key"
                          >{{ type.value }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="form-label">عرض الأسعار</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="priceListId" >
                          <option value="" disabled selected>قم باختيار عرض الأسعار</option>
                          <option *ngFor="let item of priceLists" [value]="item.id"
                          >{{ item.name }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label  class="form-label">المستودع</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="warehouseId" >
                          <option value="" disabled selected>قم باختيار المستودع</option>
                          <option *ngFor="let item of warehouses" [value]="item.id"
                          >{{ item.name }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
            </div>

            <!-- Row with three fields -->
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field13">تاريخ انتهاء العرض</label>
                  <input type="date" id="offerExpiryDate" formControlName="offerExpiryDate" class="form-control" placeholder="قم باختيار التاريخ" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field14">فترة الدفع</label>
                  <input type="text" id="paymentPeriod" class="form-control" formControlName="paymentPeriod" placeholder="قم باختيار فترة الدفع" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="form-label">نوع العرض</label>
                  <div class="input-group" >
                      <select class="form-select form-control custom-input" formControlName="paymentType" >
                          <option value="" disabled selected>قم باختيار نوع العرض</option>
                          <option *ngFor="let type of paymentTypeList" [value]="type.key"
                          >{{ type.value }}</option>
                         
                      </select>
                  </div>
              </div>
              </div>
            </div>

            <div class="scroll-buttons-container">
              <button *ngFor="let btn of buttons; let i = index" [id]="'button-' + i" class="scroll-button"
                type="button" (click)="showContent(i)">
                {{ btn }}
              </button>
            </div>



            <!-- show table button 1 -->
            <div *ngIf="selectedButton !== null">
              <div *ngIf="selectedButton === 0">
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="basic-datatables" class="display table table-striped table-hover">
                      <thead>
                        <tr class="firstcol">
                          <th class="firstcolleft"> </th>
                          <th>اجمالي فرعي</th>
                          <th>الخصم</th>
                          <th>الضريبه</th>
                          <th>سعر الوحدة</th>
                          <th> الوحدة</th>
                          <th>الوصف</th>
                          <th>الصنف</th>
                          <th>مسلسل</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <i class="fas fa-trash" style="cursor: pointer;"></i>
                          </td>
                          <td>اجمالى فرعي</td>
                          <td>الخصم</td>
                          <td>الضريبه</td>
                          <td>سعر الوحده</td>
                          <td>الوحده</td>
                          <td>الوصف</td>
                          <td>الصنف</td>
                          <td>1</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

              <!-- comments part -->
              <div *ngIf="selectedButton === 1">
                <div class="container comment-section mt-5">
                  <div class="card p-3">
                    <!-- Add Comment Section -->
                    <div class="container add-comment-section mt-3">
                      <div class="card p-3 d-flex align-items-center">
                        <div class="d-flex align-items-center w-100">
                          <!-- User Avatar -->
                          <img src="../../../assets/images/images.jpg" class="rounded-circle border border-primary me-2"
                            alt="User Avatar">

                          <!-- Comment Input Section -->
                          <div class="flex-grow-1">
                            <input type="text" class="form-control" placeholder="أضف تعليقاً">
                          </div>

                          <!-- Icons and Post Button -->
                          <div class="d-flex align-items-center ms-2">
                            <!-- Voice Icon -->
                            <button class="btn btn-link text-muted p-1"><i class="fa fa-microphone"></i></button>

                            <!-- Attachment Icon -->
                            <button class="btn btn-link text-muted p-1"><i class="fa fa-paperclip"></i></button>

                            <!-- Post Button -->
                            <button class="btn btn-primary ms-2 px-4">نشر</button>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- Comments List -->
                    <div class="comments-list mt-4">
                      <div class="comment-item p-3 mb-3">
                        <div class="d-flex align-items-start">
                          <img src="../../../assets/images/images2.jpg" class="rounded-circle" alt="User Avatar">
                          <div class="ms-3 w-100">
                            <div class="d-flex justify-content-between align-items-center">
                              <h6 class="mb-0">خالد ابراهيم</h6>
                              <span class="text-muted small">Aug 19, 2021</span>
                            </div>
                            <p class="mt-2">المندوبين عندكم ممتازين جداً...</p>
                            <div class="comment-actions d-flex">
                              <button class="btn btn-link p-0"><i class="fa fa-heart"></i> 5</button>
                              <button class="btn btn-link p-0 ms-3"><i class="fa fa-comment"></i> 3</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Nested Reply Comment -->
                      <div class="comment-item p-3 mb-3 ms-5">
                        <div class="d-flex align-items-start">
                          <img src="../../../assets/images/images2.jpg" class="rounded-circle" alt="User Avatar">
                          <div class="ms-3 w-100">
                            <div class="d-flex justify-content-between align-items-center">
                              <h6 class="mb-0">خالد ابراهيم</h6>
                              <span class="text-muted small">Aug 19, 2021</span>
                            </div>
                            <p class="mt-2">شكراً لك على رأيك الإيجابي...</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- View More Comments Link -->
                    <div class="text-center">
                      <a href="#" class="text-primary">باقي التعليقات</a>
                    </div>
                  </div>
                </div>

              </div>

              <!-- show table button 3 -->
              <div *ngIf="selectedButton === 2">
                <div class="card-body">
                  <div class="table-responsive">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <!-- "المهام" on the far right -->
                      <span>المهام</span>

                      <!-- Button on the far left -->
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#Addmession">+ إضافة مهمه</button>



                    </div>

                    <table id="basic-datatables" class="display table table-striped table-hover">
                      <thead>
                        <tr class="firstcol">
                          <th>موكل الى</th>
                          <th> الاولويه</th>
                          <th>التاريخ</th>
                          <th>الحاله</th>
                          <th>المهمه</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>

                          <td>موكل الى</td>
                          <td> الاولويه</td>
                          <td>التاريخ</td>
                          <td>الحاله</td>
                          <td>المهمه</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

              <!-- ألمرفقات -->

              <div *ngIf="selectedButton === 3">
                <div class="container mt-5">
                  <h5 class="mb-3">المرفقات</h5>
                  <button class="btn btn-link text-muted p-1" ><i class="fa fa-microphone"></i></button>

                  <button class="btn btn-link text-muted p-1" ><i (click)="fileInput.click()" class="fa fa-paperclip"></i></button>

                  <div class="custom-file-upload" (click)="fileInput.click()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)">
                    <i class="fas fa-cloud-upload-alt fa-3x mb-3"></i>
                    <p>حدد ملفًا أو قم بالسحب والإسقاط هنا</p>
                    <small class="text-muted">JPG, PNG or PDF; file size no more than 10MB</small>

                    <!-- Hidden file input for clicking to upload -->
                    <input type="file" #fileInput (change)="onFileSelected($event)" hidden>

                    <!-- Trigger file input on click -->
                    <button class="btn btn-link text-muted p-1" (click)="fileInput.click()">Upload File</button>
                  </div>

                </div>
              </div>



            </div>

            <div class="col-md-6 mx-auto ">
              <button type="submit" class="btn my-button3">
                اضافه
                <i class="fa-solid fa-plus"></i>
              </button>
              <button type="button" class="btn closebutton " data-bs-dismiss="modal">
                الغاء
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- buuton modal -->
<div class="modal fade" id="Addmession" tabindex="-1" aria-labelledby="AddmessionLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddmessionLabel">إضافة مهمه</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form or content for the second modal -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskField">اسم المهمه</label>
              <input type="text" id="taskField" class="form-control" placeholder="أدخل اسم المهمه">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskField2">اسم المهمه باللغه المحليه</label>
              <input type="text" id="taskField2" class="form-control" placeholder="أدخل اسم المهمه">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskField3">الحالة</label>
              <select id="taskField" class="form-control">
                <option value="" disabled selected>قم باختيار الحالة</option>
                <option value="option1">الخيار الأول</option>
                <option value="option2">الخيار الثاني</option>
                <option value="option3">الخيار الثالث</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskField4">النوع</label>
              <select id="taskField4" class="form-control">
                <option value="" disabled selected>قم باختيار النوع</option>
                <option value="option1">الخيار الأول</option>
                <option value="option2">الخيار الثاني</option>
                <option value="option3">الخيار الثالث</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskField5">الأولوية</label>
              <select id="taskField5" class="form-control">
                <option value="" disabled selected>قم باختيار الأولوية</option>
                <option value="option1">الخيار الأول</option>
                <option value="option2">الخيار الثاني</option>
                <option value="option3">الخيار الثالث</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskField6">موكل الى</label>
              <select id="taskField6" class="form-control">
                <option value="" disabled selected>قم باختيار المستخدم</option>
                <option value="option1">الخيار الأول</option>
                <option value="option2">الخيار الثاني</option>
                <option value="option3">الخيار الثالث</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="Textarea1">وصف المهمه</label>
            <textarea class="form-control" id="Textarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="dateInput">تاريخ البدء</label>
            <input type="date" id="dateInput" class="form-control" placeholder="قم باختيار التاريخ">
          </div>
          <div class="col-md-6">
            <label for="dateInput2">تاريخ الإنتهاء</label>
            <input type="date" id="dateInput2" class="form-control" placeholder="قم باختيار التاريخ">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-primary">إضافة + </button>
      </div>
    </div>
  </div>
</div>