.login-container{
    margin-top: 7%;
    margin-bottom: 5%;
    border-radius: 3px;

}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 #E7E7EA, 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    /* background: #4875A9; */
    background-image: url('../../../assets/images/Image.png');
    height: 435px;
    border-radius: 10px 0 0 10px;
}
.shade{
    background-color: rgb(231, 231, 234, 0.5);
    margin-top: 29%;
    height: 208px;
    width: 201px;
    border-radius: 27px;
    margin-left: 12%;
}
.blog{
    padding-top: 12%;
    text-align: center;
    height: 208px;
}

.login-form-2{
    padding: 5%;
    background: #F7FBFF;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 435px;
    border-radius: 0 10px 10px 0;
}
.shad2{
    height: 360px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.blog-2{
    width: 41%;
    height: 26%;
    margin-top: 51px;
    margin-left: 138px;
    margin-bottom: 6%;
}
.blog-3{
    color: #667085;
    font-size: 12px;
    text-align: right;
    margin-right: 6px;

}
.blog-4{
    text-align: right;
    margin-right: 3px;
}
h2{
    text-align: right;
    padding-right: 1px;
    text-align: right;
    /* padding-right: 10px;
    padding-top: 15px; */
}
.login-container form{
    margin: 7% 0%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.input-1{
    text-align: right;
    outline-color: #007bff;
    border: 2px solid #E7E7EA;
    border-radius: 6px;
}
h2, a, h4, p, label, input, button {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}

button{
    font-size: 10px;
}