/* sidebar.component.css */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Initially hidden */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidebar.open {
  transform: translateX(0); /* Slide in when open */
}

.toggle-button {
  position: absolute;
  left: -40px;
  top: 10px;
  background-color: #224273;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.content {
  padding: 1rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

.sidebar {
   
  background-color: #224273;
  
  direction: rtl; 
 
}

/* Class to show the sidebar */
.sidebar.active {
  right: 0; /* Move into view */
}

/* Additional styles for sidebar links */
.nav-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px; /* Adjust padding as needed */
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
}

.nav-item a:hover , a:focus{
  /* background-color: rgba(255, 255, 255, 0.1); Hover effect */
  background-color: #4875a9;
  color: #f1f4f8;
  border: 1px solid #4875a9;
  border-radius: 10px;
  width: 100%;
}
.sub-item2 a:hover {
  /* background-color: rgba(255, 255, 255, 0.1); Hover effect */
  background-color: #f7fbff;
  color: #eaf1fa;
  border: 1px solid #f7fbff;
  border-radius: 10px;
}

.sidebar .nav-section {
  padding: 10px 15px; /* Padding for section headers */
  color: #fff; /* Section header color */
}

/* Collapse/Expand caret styling */
.caret {
  margin-left: auto; /* Align caret to the right */
  transition: transform 0.3s;
}

.collapse.show + .caret {
  transform: rotate(90deg); /* Rotate caret when expanded */
}


/* for collaps */
.toggle-icon {
  margin-right: 8px;
  font-size: 16px;
  cursor: pointer;
}

.sub-item {
  cursor: pointer;
}

ul .sub-nav a{
  transition: color 0.3s ease;
}
ul .sub-nav a:hover{
  color: #224273;
}
ul .sub-nav a:active{
  color: #224273;
}

  /* font */
  h2,
  h3,
a,
h4,
p,
label,
input,
button,
tr, th, tr {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
/* for sub-item2
.sidebar .nav-collapse li a:hover .sub-item2,
.sidebar[data-background-color=white] .nav-collapse li a:hover .sub-item2 {
   color: #224273;
} */
/* .sub-item2 a:hover, .sub-item2 a:active{
  background-color: #4875a9;
  color: #f7fbff;
} */

.search-icon {
  right: 49px;
  top: 23.5%;
  transform: translateY(-50%);
  font-size: 1.3rem !important;
  color: #224273;
  ;
  pointer-events: none; /* Ensure the icon is non-clickable */
}
.search-input {
  padding-right: 2.5rem; /* Add padding to make space for the icon */
  /* margin-top: 15px; */
  border-radius: 12px;
  width: 200px;
  margin-bottom: 20px;
}

/* for toggle button */