.page-inner ,.nav-item i , .nav-home i{
    color:#4875A9;
  }

  .main-panel{
    width: 98%;
  }

  .my-button{
    background-color: #E7E7EA;
    color:#224273;
  }
  
  /* .my-button2{
    background-color: #E7E7EA;
    color:#224273;
    
  } */

  .my-button, .my-button2 {
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #224273;
    color: #E7E7EA;

}

.my-button:active {
    background-color: #224273;
    color: #E7E7EA;
}


.firstcol th{
    
    background-color: #224273; 
    color:#F7fBFF;
}

.firstcolleft {
    border-top-left-radius: 10px; /* Round the top-left corner */
}

.firstcolright {
    border-top-right-radius: 10px; 

}

.large-checkbox {
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  transform: scale(1.5); /* Scale up the checkbox */
  cursor: pointer; /* Change cursor to pointer on hover */
  /* Optional: To hide the default checkbox and use a custom design */
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Remove default styling */
  border: 1px solid #667085; /* Add a border */
  border-radius: 4px; /* Optional: Rounded corners */
  outline: none; /* Remove outline */
}

.large-checkbox:checked {
  background-color: #224273; /* Background color when checked */
  position: relative; /* For positioning */
}

/* Custom checkmark styling */
.large-checkbox:checked::after {
  content: ''; /* Create a pseudo-element */
  position: absolute; /* Position it */
  left: 4px; /* Position checkmark */
  top: 0px; /* Position checkmark */
  width: 5px; /* Width of checkmark */
  height: 10px; /* Height of checkmark */
  border: solid white; /* Color of checkmark */
  border-width: 0 2px 2px 0; /* Style of checkmark */
  transform: rotate(45deg); /* Rotate to form checkmark */
}

.card-body{
    min-width: 500px;
  }
  
  .search-input {
    padding-right: 2.5rem; /* Add padding to make space for the icon */
    /* margin-top: 15px; */
    border-radius: 12px;
    width: 350px;
  }
  
  .search-icon {
    right: 10px; /* Keep the icon on the right side */
    top: 53%;
    transform: translateY(-50%);
    font-size: 1rem !important; /* Force smaller icon size */
    color: #667085; /* Icon color */
    pointer-events: none; /* Ensure the icon is non-clickable */
  }
  
  .my-custom-icone{
    background-color: #ffff;
    color:#667085 ;
    border: 1px solid  #E7E7EA;
    margin-left: 10px;
    
  
  }
  
  /* font */
  h2,
  h3,
  h5,
a,
h4,
p,
label,
input,
button,
 span,select, option {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
tr, th, td {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;

  font-weight: 400;
  font-style: normal;}
  
   
.closebutton{
  color:#224273;
  border: 1px solid #224273;
  background-color:#F7fBFF;
  width: 13rem;
}

.scroll-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  justify-content: space-between;
}

.scroll-button {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #E7E7EA; /* Your preferred button color */
  color: #224273;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 23%;
}

.scroll-button:hover , .scroll-button:active{
  background-color: #224273;
  color: #F7fBFF;
} 
/* .scroll-button:last-child {
  margin-right: 10px;
} */

/* Optional: Hide the scrollbar in some browsers */
.scroll-buttons-container::-webkit-scrollbar {
  display: none;
}

.my-button3{
  background-color: #224273;
  color:#F7fBFF;
  width: 13rem;
  margin-left: 3%;
}

.my-button2{
  background-color: #E7E7EA;
  color:#224273;
  
}
select.form-select{
    background-position: left;
  }

  .table thead th {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 5px !important;
    border-bottom-width: 1px;
    font-weight: 600;
    font-size: 12px;}


      /* المرفقات */
  .custom-file-upload {
    border: 2px dashed #ddd;
    padding: 20px;
    text-align: center;
    color: #999;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }