<div class="main-panel">
  <div class="container">
    <div class="page-inner">
      <div class="page-header d-flex justify-content-between align-items-center flex-row-reverse">
        <h3 class="fw-bold mb-3 text-end">خدمات الأعمال</h3>
        <ul class="breadcrumbs mb-3 ">
          <li class="nav-item dropdown">
            <button class="btn d-flex justify-content-start align-items-center" data-bs-toggle="dropdown"
              aria-expanded="false">
              Admin
              <!-- Placeholder for the dropdown arrow -->
              <i class="fa-solid fa-caret-down"></i>
            </button>

          </li>

          <li class="nav-home">
            <a href="#">
              <i class="fa-solid fa-search mx-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#">
              <i class="fa-solid fa-bell mx-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-gear mx-2"></i>
          </li>

        </ul>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center flex-row-reverse">
              <h4 class="card-title text-end">فئة توثيق العمليات</h4>
              <div class="button-group d-flex justify-content-start">
                <button type="button" class="btn my-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  اضافه توثيق العمليات
                  <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn ms-3 my-button">
                  <i class="fa-solid fa-print"></i>
                  طباعه
                </button>
                <button type="button" class="btn ms-3 my-button">
                  <i class="fa-solid fa-gear"></i>
                  الاجراءات
                </button>
              </div>
            </div>



            <div
              class="d-flex flex-row align-items-center mt-3 d-flex justify-content-between align-items-center flex-row-reverse">
              <div class="mb-2 me-2" style="width: 100px">
                <select class="form-select" aria-label="Default select example">
                  <option selected>الاحدث</option>
                  <option value="1">خيار 1</option>
                  <option value="2">خيار 2</option>
                  <option value="3">خيار 3</option>
                </select>
              </div>

              <div class="d-flex align-items-center flex-row-reverse">
                <!-- Button with icon -->
                <button class="btn my-custom-icone me-2">
                  <span class="btn-label">
                    <i class="fa-solid fa-sliders"></i>
                  </span>
                </button>

                <!-- Search form -->
                <form class="d-flex position-relative">
                  <input class="form-control text-end search-input" type="search" placeholder="بحث في الكل"
                    aria-label="Search" />
                  <i class="fs-4 bi-search position-absolute search-icon"></i>
                </form>
              </div>


              <div class="icon-group d-flex align-items-center">
                <button class="btn my-custom-icone">
                  <span class="btn-label">
                    <i class="fa-solid fa-table-cells-large"></i>
                  </span>
                </button>

                <button class="btn my-custom-icone" style="background-color: #224273; color: #e7e7ea">
                  <span class="btn-label">
                    <i class="fa-solid fa-list-ul"></i>
                  </span>
                </button>

                <button class="btn my-custom-icone">
                  <span class="btn-label">
                    <i class="fa-solid fa-bag-shopping my-icone"></i>
                  </span>
                </button>
              </div>
            </div>


            <div class="card-body">
              <div class="table-responsive">
                <table id="basic-datatables" class="display table table-striped table-hover">
                  <thead>
                    <tr class="firstcol">
                        <th> <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        </th>
                      <th>كود توثيق العمليات</th>
                      <th>المنشأ</th>
                      <th>تاريخ الإنشاء</th>
                      <th>اسم توثيق العمليات باللغة المحلية</th>
                      <th>اسم توثيق العمليات</th>
                      <th class="firstcolright">
                        <input type="checkbox" class="large-checkbox" />
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td> </td>
                      <td>Fiona Green</td>
                      <td>Chief Operating Officer (COO)</td>
                      <td>San Francisco</td>
                      <td>48</td>
                      <td>2010/03/11</td>
                      <td> <input type="checkbox" class="large-checkbox" />
                      </td>
                    </tr>
                    <tr>
                        <td> </td>
                      <td>Shou Itou</td>
                      <td>Regional Marketing</td>
                      <td>Tokyo</td>
                      <td>20</td>
                      <td>2011/08/14</td>
                      <td> <input type="checkbox" class="large-checkbox" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-end flex-row-reverse" id="staticBackdropLabel">
                    اضافه توثيق العمليات
                </h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <!-- Row with two fields -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field4 text-end"> اسم توثيق العمليات</label>
                                    <input type="text" id="field3"  class="form-control"
                                        placeholder="اسم توثيق العمليات" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field4 text-end"> اسم توثيق العمليات باللغة المحلية</label>
                                    <input type="text" id="field3"  class="form-control"
                                        placeholder="اسم توثيق العمليات باللغة المحلية" />
                                </div>
                            </div>
                       
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field4 text-end"> كود توثيق العمليات</label>
                                    <input type="text" id="field3"  class="form-control"
                                        placeholder=" كود توثيق العمليات" />
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field4 text-end"> الموافقات المرفقة</label>
                                    <input type="text" id="field3"  class="form-control"
                                        placeholder="الموافقات المرفقة" />
                                </div>
                               
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="location" class="form-label">نوع العمليات</label>
                                    <div class="input-group">
                                        <select class="form-select form-control" id="location">
                                            <option selected>قم بإختيار نوع العمليات</option>
                                            <option value="1">النوع 1</option>
                                            <option value="2">النوع 2</option>
                                            <option value="3">النوع 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="row mb-3">
                            <div class="col-md-12">
                              <label for="Textarea1">وصف توثيق العمليات</label>
                              <textarea class="form-control" id="Textarea1" rows="3"></textarea>
                            </div>
                          </div>
                         <!-- ألمرفقات -->
                            <div class="container mt-5">
                            <h5 class="mb-3">المرفقات</h5>
                            <button class="btn btn-link text-muted p-1"><i class="fa fa-microphone"></i></button>
            
                            <button class="btn btn-link text-muted p-1"><i class="fa fa-paperclip"></i></button>
            
                            <div class="custom-file-upload">
                              <i class="fas fa-cloud-upload-alt fa-3x mb-3"></i>
                              <p>حدد ملفًا أو قم بالسحب والإسقاط هنا</p>
                              <small class="text-muted">JPG, PNG or PDF; file size no more than 10MB</small>
                            </div>
                          </div>
                          
                          


                    
                        
              
                          <!-- show table button 1 -->
                          
                        <div class="col-md-6 mx-auto ">
                            <button type="button" class="btn my-button3">
                                اضافه
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <button type="button" class="btn closebutton " data-bs-dismiss="modal">
                                الغاء
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
